@charset "ISO-8859-1";
.admin .card:hover{
	background-color:#e2e2e2;
	cursor:pointer;
}

.discount-label{
	font-size: 10px !important;
	font-style: italic !important;
}

.product-card:hover{
	background-color:#e2e2e2;
	cursor:pointer;
}

